/* Remover a borda do container quando não tiver nada pra fazer...*/
.cs-message{
    margin-bottom: 10px;
}

.cs-chat-container.cs-chat-container{
    background-color: transparent;
}

.cs-message--incoming .cs-message__content.cs-message__content{
    background-color: #DCDCDC;
    border-radius: .7em .7em .7em .7em;
}

.cs-message--outgoing .cs-message__content.cs-message__content{
    background-color: #722F37;
    border-radius: .7em .7em .7em .7em;
}

.cs-message--incoming .cs-message__html-content.cs-message__html-content{
    background-color: transparent;
    color: black;
    
}

.cs-message--outgoing .cs-message__html-content{
    background-color: transparent;
    color: white;
}

.cs-message__html-content span{
    background-color: #722F37 !important;
    color: white !important;
}

.cs-chat-container .cs-message-input.cs-message-input {
    border: none;
    background-color: #2F2F2F;
    border-radius: .7em .7em .7em .7em;
}

.cs-message-input__content-editor-wrapper.cs-message-input__content-editor-wrapper{
    background-color: transparent;
}

.cs-message-input__content-editor.cs-message-input__content-editor{
    background-color: transparent;
    color: white;
}

.cs-message-input__content-editor span{
    background-color: #2F2F2F !important;
    color: white !important;
}

.cs-message-input__content-editor-container.cs-message-input__content-editor-container{
    background-color: transparent;

}

.cs-message-input__content-editor[contenteditable="true"]:empty::before {
    color: rgba(255, 255, 255, 0.59) !important;
}

.cs-message-input__tools.cs-message-input__tools{
    background-color: transparent;
}

svg{
    background-color: transparent;
}

.cs-message-input--disabled .cs-message-input__content-editor-wrapper{
    background-color: transparent !important;
}

.cs-message-input--disabled .cs-message-input__content-editor[data-placeholder]:empty:before{
    color: transparent !important;
}

.cs-typing-indicator.cs-typing-indicator{
    background-color: transparent !important;
}

.cs-typing-indicator__text.cs-typing-indicator__text{
    color: white; /*define cor do texto: "escrevendo resposta..."*/
}

.cs-typing-indicator__dot.cs-typing-indicator__dot{
    background-color: white !important; /*define cor dos três pontinhos*/
}
